---
- name: NTP_Install_PLAY
  hosts: ubuntu
  become: true
  become_method: sudo
  tasks:
    - name: Test_ping_TASK
      ansible.builtin.ping:

    - name: Ntp_install_TASK
      ansible.builtin.apt:
        name: ntp
#        state: absent
        update_cache: true
      notify: Ntp_restart
      register: result
    - ansible.builtin.debug: var=result.stdout_lines

    - name: Ntp_restart_TASK
      ansible.builtin.service:
        name: ntp
        state: restarted
      register: result
    - ansible.builtin.debug: var=result.stdout_lines

    - name: Apt_clean_TASK
      ansible.builtin.apt:
        autoclean: true
        autoremove: true
#      register: clean
      register: result
    - ansible.builtin.debug: var=result.stdout_lines

#    - ansible.builtin.debug:
#        var: clean.stdout_lines

  handlers:
    - name: Ntp_restart
      ansible.builtin.service:
        name: ntp
        state: restarted
